
.app {
    font-family: sans-serif;
    display: flex; 
    align-items: flex-start; 
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
    background:linear-gradient(90deg,hsl(199, 65%, 43%),rgb(33, 148, 214));

  }
  
   /* input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  } */
  .logout{
    margin-left: 200px;
  }
  input[type="button"] {
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #000a07;
    color: rgb(0, 0, 0);
    width: 200px;
    padding: 10px 20px;
  }
  
  /* input[type="submit"]:hover {
    background: #6cf0c2;
  } */
  input[type="button"]:hover {
    background: #6cf0c2;
  }
  
  /* .button-container {
    display: flex;
    justify-content: center;
  } */
  
  .buttons {
    background-color: white;
    padding: 2rem;
    width: 90%;
    /* margin-top: 20px; */
    margin-left: 30px;
    /* margin-right: 20px; */
    display: flex;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  /* .list-container {
    display: flex;
  } */
  
  /* .error {
    color: red;
    font-size: 12px;
  } */
  
  .title {
    font-size: 25px;
    /* margin-bottom: 20px; */
    margin: 30px;
    display: flex;
    color: #fff;
    /* margin-left: 30px; */
  }
  .title2 {
    font-size: 25px;
    /* margin-bottom: 20px; */
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    color: #000;
    /* margin-left: 30px; */
  }
  
  /* .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  } */
  .table{
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .mprofile{
    margin-left: 30px;
    padding: 2rem;
    display: flex;
    /* flex-direction: column; */
    width: 90%;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .pdetails{
    font-size: 25px;
    /* margin-bottom: 20px; */
    margin-top: 10px;
    margin-left: 5px;
    display: flex;
    justify-content: start;
    color: #000;
  }
